
@{
    ViewBag.Title = "Pesquisa";
}

<section class="pesquisa">
    <h2>Pesquisa</h2>
    <div class="container">
        <div class="form-search">
            <input type="search" id="form1" class="form-control" />
            <button type="button" class="btn-busca">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div><!--form-search-->
    </div><!--container-->
    <div class="resultado-pesquisa">
        <h2>Os resultado da sua pesquisa: </h2>
        <div class="container">
            <div class="produto-single">
                <img src="~/img/produto1.png" alt="imagem do produto" />
                <h3>Produto top</h3>
                <div class="estrelas">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div><!--estrelas-->
                <p class="preco-antes">R$450,00</p>
                <p>R$300,00</p>
                <a href="@Url.Action("ProdutoSingle", "Home")">Comprar</a>
            </div><!--produto-single-->
            <div class="produto-single">
                <img src="~/img/produto1.png" alt="imagem do produto" />
                <h3>Produto top</h3>
                <div class="estrelas">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div><!--estrelas-->
                <p class="preco-antes">R$450,00</p>
                <p>R$300,00</p>
                <a href="@Url.Action("ProdutoSingle", "Home")">Comprar</a>
            </div><!--produto-single-->
            <div class="produto-single">
                <img src="~/img/produto1.png" alt="imagem do produto" />
                <h3>Produto top</h3>
                <div class="estrelas">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div><!--estrelas-->
                <p class="preco-antes">R$450,00</p>
                <p>R$300,00</p>
                <a href="@Url.Action("ProdutoSingle", "Home")">Comprar</a>
            </div><!--produto-single-->
            <div class="produto-single">
                <img src="~/img/produto1.png" alt="imagem do produto" />
                <h3>Produto top</h3>
                <div class="estrelas">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div><!--estrelas-->
                <p class="preco-antes">R$450,00</p>
                <p>R$300,00</p>
                <a href="@Url.Action("ProdutoSingle", "Home")">Comprar</a>
            </div><!--produto-single-->
            <div class="produto-single">
                <img src="~/img/produto1.png" alt="imagem do produto" />
                <h3>Produto top</h3>
                <div class="estrelas">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div><!--estrelas-->
                <p class="preco-antes">R$450,00</p>
                <p>R$300,00</p>
                <a href="@Url.Action("ProdutoSingle", "Home")">Comprar</a>
            </div><!--produto-single-->
            <div class="produto-single">
                <img src="~/img/produto1.png" alt="imagem do produto" />
                <h3>Produto top</h3>
                <div class="estrelas">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div><!--estrelas-->
                <p class="preco-antes">R$450,00</p>
                <p>R$300,00</p>
                <a href="@Url.Action("ProdutoSingle", "Home")">Comprar</a>
            </div><!--produto-single-->
            <div class="produto-single">
                <img src="~/img/produto1.png" alt="imagem do produto" />
                <h3>Produto top</h3>
                <div class="estrelas">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div><!--estrelas-->
                <p class="preco-antes">R$450,00</p>
                <p>R$300,00</p>
                <a href="@Url.Action("ProdutoSingle", "Home")">Comprar</a>
            </div><!--produto-single-->
        </div><!--container-->
    </div><!--resultado-pesquisa-->

</section>




